/* Import common styles */
@import './common/typography.css';
@import './common/colors.css';

/* /styles/main.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* You can add any custom global styles here */
body {
  background-color: #f3f4f6; /* bg-gray-100 */
  color: #2d3748; /* text-gray-800 */
  height: 100%;
}
